.container{
    padding-right: 5px;
    display: flex;
    justify-content: flex-end;
    margin-top: 10px;
}

.btn{
    background-color: green;
    color:rgb(213, 16, 16);
}
.btn:hover{
    background-color: grey;
    color: greenyellow;
}