.cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  border-color: green;
  border-width: thick;
}

.container {
  display: flex;
  justify-content: space-around;
  border-color: darkgreen;
  border-width: thick;
}