.card {
  margin: 20px;
  width: 18rem;
  border-width: thick;
  border-color: rgb(255, 68, 47);
}

.card-title {
  margin-bottom: 15px;
}

#closeIcon {
  display: flex;
  justify-content: flex-end;
  margin-right: 8px;
  margin-top: 8px;
}

.card-body {
  margin-top: 0px !important;
  padding-top: 0px !important;
}

.row{
  border-width: thick;
  border-color: rgb(245, 47, 255);
}

.iconClima{
  border-width: thick;
  border-color: rgb(75, 47, 255);
  }